<style>
    #complogo {
        margin-left: 10em;
        width: 70px;
        height: 70px;
    }

    .navbar {
        height: 75px;
    }


    .nav-link {
        font-size: 1.0em;
        font-family: Calibri;
        font-weight: bold;
        margin-left: 0.7em;
        color: black;
    }


        .nav-link:hover {
            color: darkgrey;
        }

    #bookbtn {
        background: rgb(246,194,146);
        background: linear-gradient(0deg, rgba(246,194,146,1) 0%, rgba(198,100,7,1) 88%);
        color: white;
        transition: background-color 0.2s, transform 0.2s;
        font-weight: bold;
        font-family: Calibri;
    }

        #bookbtn:hover {
            background-color: rgba(214, 110, 12, 1);
            transform: scale(1.1);
        }

    .btn {
        background: rgb(198,100,7);
        background: linear-gradient(0deg, rgba(198,100,7,1) 25%, rgba(246,194,146,1) 98%);
        color: aliceblue;
    }
</style>




@*------------------------------------------------------navbar------------------------------------------------------------------*@
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="complogo" src="~/images/logo.png" alt="company-logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a id="nav-text" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-text" class="nav-link text-dark" asp-area="" asp-controller="Destination" asp-action="Index">DESTINATIONS</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-text" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dining">DINING</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
            <div>
                <a id="bookbtn" style="margin-right:130px;" class="btn" type="button" asp-controller="HotelChain" asp-action="Index">BOOK A STAY</a>
            </div>
        </div>
    </nav>
</header>
<br />
<br />

@*--------------------------------------------------------------body-------------------------------------------------------------------------*@

<div style="margin-top:60px;margin-left:190px;margin-right:100px;text-align:justify" class="container">
    <h1 style="text-align:center;font-family:calibri;margin-bottom:30px;">Careers at Parkview</h1>
    <p style="font-family:calibri;font-size:19px;">Are you passionate about the hospitality and tourism industry? Do you want to be a part of a dynamic team dedicated to providing world-class experiences to our guests? If so, we'd love to hear from you!</p>
    <div style="font-family:calibri;font-size:19px;">
        <div>
            <p>
                <b>Current Job Openings </b>
                <br>
                <b>Explore our current job openings and join the Parkview family:</b>
                <br>
                   Front Desk Receptionist
                <br>
                <br>
                   Location: Bangalore, karnataka
                <br>
                   Responsibilities:
                <br>
                  Greet and assist guests with check-in and check-out procedures.
                  <br>
                Handle reservations and inquiries via phone and email.
                <br>
                Provide excellent customer service and resolve guest concerns.
                <br>
                Qualifications:
                <br>
                Previous experience in customer service or hospitality preferred.
                <br>
                Strong communication and interpersonal skills.
                <br>
                Ability to work in a fast-paced environment.
                <br>
                <hr />
                <br/>
                Chef de Cuisine
                <br>
                <br>
                Location: Maldives
                <br >
                Responsibilities:
                <br>
                Lead the kitchen team in menu planning and food preparation.
                <br>
                Ensure food quality, taste, and presentation meet our standards.
                <br>
                Manage kitchen staff and maintain a clean and organized kitchen.
                <br>
                Qualifications:
                <br>
                Culinary degree or equivalent experience.
                <br>
                Proven track record in a similar role.
                <br>
                Creative culinary skills and a passion for food.
                <br>
                <hr />
                <br/>
                Housekeeping Supervisor
                <br >
                <br>
                Location: Delhi, India
                <br>
                Responsibilities:
                <br>
                Oversee the housekeeping staff and daily cleaning operations.
                <br>
                Ensure guest rooms and public areas are maintained to a high standard.
                <br>
                Train and motivate the housekeeping team.
                <br>
                Qualifications:
                <br>
                Previous experience in housekeeping or a related role.
                <br >
                Leadership and organizational skills.
                <br>
                Attention to detail and a commitment to cleanliness.
                <br>
                <hr />
                <br/>
                <b>Why Join Parkview?</b>
                <br>
                At Parkview, we believe that our team members are our most valuable asset. We offer competitive salaries,
                opportunities for career advancement, and a positive work environment. Join us to be a part of an organization that values teamwork, 
                excellence, and guest satisfaction.
                <br>
                <br/>
                <b>How to Apply</b>
                <br>
                To apply for a position, please send your resume and cover letter to <email address="skrbhowmik.2023@gmmail.com" content="Mail"></email>. 
                Be sure to include the position title in the subject line of your email. We look forward to reviewing your application.
                <br>
                <br/>
                <b>Contact Us</b>
                <br>
                If you have any questions or need further information about careers at Parkview, please contact our HR department at <email address="skrbhowmik.2023@gmmail.com" content="Mail"></email>.
                <br>
            </p>
        </div>       
    </div>
</div>
<br />
<br />



@*---------------------------------------------------------------footer--------------------------------------------------------------------------------*@
<footer class="py-2" style="background-color:#f2f2f2">
    <div style="display:flex;margin-left:550px;margin-bottom:20px;">
        <img style="width:100px;height:100px;" src="~/images/logo.png" alt="logo" />
        <h4 style="text-align:center;margin-bottom:30px;margin-top:30px;">Parkview Groups of Hotels</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2 mb-4">
                <ul class="nav flex-column">
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="SiteMap" class="nav-link p-0 text-muted">Site Map</a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="FlyerPartner" class="nav-link p-0 text-muted">Flyer Partners</a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="TermsOfUse" class="nav-link p-0 text-muted">Terms Of Use</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <ul class="nav flex-column">
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="ContactUs" class="nav-link p-0 text-muted">Contact Us</a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="Careers" class="nav-link p-0 text-muted">Careers</a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="Privacy" class="nav-link p-0 text-muted">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <ul class="nav flex-column">
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="Blogs" class="nav-link p-0 text-muted">Blogs</a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="FAQs" class="nav-link p-0 text-muted">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of whats new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <input required id="inputEmail" type="email" placeholder="Email address" class="form-control" />
                        <button type="submit" class="btn">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-1 my-1 border-top">
            <p>&copy; 2023 Parkview Hotels, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <a class="link-body-emphasis" href="https://www.linkedin.com/in/shibom-bhowmik-9709081b8/">
                        <i style="color:black;" class="bi bi-twitter"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="https://www.linkedin.com/in/shibom-bhowmik-9709081b8/">
                        <i style="color:black;" class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="https://www.linkedin.com/in/shibom-bhowmik-9709081b8/">
                        <i style="color:black;" class="bi bi-facebook"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
































@*-------------------------------------------------------------------SNEHA CHATBOT ---------------------------------------------------------*@
<script type="text/javascript">
    (function (d, t) {
        var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
        v.onload = function () {
            window.voiceflow.chat.load({
                verify: { projectID: '64f463586babf2000798beac' },
                url: 'https://general-runtime.voiceflow.com',
                versionID: 'production'
            });
        }
        v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
    })(document, 'script');
</script>
