@model IEnumerable<Parkview.Models.Room>

<style>
    #complogo {
        margin-left: 10em;
        width: 70px;
        height: 70px;
    }

    .navbar {
        height: 75px;
    }

    /* Style for navigation links */
    .nav-link {
        font-size: 1.0em;
        font-family: Calibri;
        font-weight: bold;
        margin-left: 0.7em;
        color: black; /* Default text color */
    }


        /* Hover effect on navigation links */
        .nav-link:hover {
            color: darkgrey; /* Change text color to grey on hover */
        }


    .short-hr {
        width: 50%; /* Adjust the width as needed (e.g., 50% for half the normal length) */
        margin: 0 auto; /* Center the shorter line horizontally if needed */
        background-color: #000; /* Optional: Set the color of the line */
    }


    .btn {
        background: rgb(198,100,7);
        background: linear-gradient(0deg, rgba(198,100,7,1) 25%, rgba(246,194,146,1) 98%);
        color: aliceblue;
    }

    .container1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .row1 {
        display: flex;
        flex-direction: column;
        flex-grow: 1; /* Allow the card list to take up available space */
    }

    .disclaimer {
        margin-top: 30px;
        flex-shrink: 0; /* Prevent disclaimer from growing */
        width: 450px; /* Set the width of the disclaimer */
        padding: 20px; /* Add padding for readability */
        position: sticky;
        top: 20px; /* Adjust top as needed for spacing from the top */
        background-color: #f9f9f9; /* Background color for the disclaimer */
        z-index: 1000;
        margin-right: 45px;
    }
</style>




@*----------------------------------------------------------------------------------navbar-----------------------------------------------------------------------------------*@
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="complogo" src="~/images/logo.png" alt="company-logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a id="nav-text" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-text" class="nav-link text-dark" asp-area="" asp-controller="Destination" asp-action="Index">DESTINATIONS</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-text" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dining">DINING</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
            @*            <div>
            <a id="bookbtn" style="margin-right:130px;" class="btn" type="button" asp-controller="HotelChain" asp-action="Index">BOOK A STAY</a>
            </div>*@
        </div>
    </nav>
</header>
<br />
<br />
<br />
<br />

@*----------------------------------------------------------rooms--------------------------------------------------*@
<div class="container">
    <h1 style="font-family:Calibri;text-align:center;">Book Your Rooms Here</h1>
</div>
<br />

<div class="container1">
    <div class="row1 mt-1">
        <div class="col-md-4">
            @foreach (var room in Model)
            {
                <partial name="_RoomCard" model="room" />
            }
        </div>
    </div>

    <div class="disclaimer">
        <!-- Disclaimer Content -->
        <div style="font-family:Calibri;text-align:justify;">
            <p>
                <h2 style="text-align:center;margin-top:30px;"><b>Hotel Policies</b></h2>
                <br>
                - Children utpo 5 years stay free with parents
                <br>
                <br/>
                - Children between 6-12 years will be charged INR 2500 per day plus taxes
                <br>
                <br />
                - Check-in time: 11:00 AM
                <br>
                <br />
                - Check-out time: 12:00 Noon
                <br>
                <br />
                - Breakfast: 08:00 - 10:30hrs
                <br>
                <br/>
                - Lunch: 12:30 - 14:30hrs
                <br>
                <br />
                - Dinner: 20:00 - 23:00hrs
                <br >
                <br />
                - Early check-in and late check-out on request
                <br>
                <br/>
                - We accept American Express, Diner's Club, Master Card, Visa
                <br>
                <br />
                - Pets are not allowed
                <br>
                <br />
            </p>
        </div>
    </div>
</div><a href="c:\shibom\.net_training\parkview\views\room\index.cshtml">c:\shibom\.net_training\parkview\views\room\index.cshtml</a>
<br/>
<div>
    <a style="margin-left:175px;" asp-controller="HotelChain" asp-action="Index" class="btn">Back to Hotel Chains</a>
</div>
<br />

@*-------------------------------------------------------------footer------------------------------------------------------------------------------------------------*@
<footer class="py-2" style="background-color:#f2f2f2">
    <div style="display:flex;margin-left:550px;margin-bottom:20px;">
        <img style="width:100px;height:100px;" src="~/images/logo.png" alt="logo" />
        <h4 style="text-align:center;margin-bottom:30px;margin-top:30px;">Parkview Groups of Hotels</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2 mb-4">
                <ul class="nav flex-column">
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="SiteMap" class="nav-link p-0 text-muted">Site Map</a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="FlyerPartner" class="nav-link p-0 text-muted">Flyer Partners</a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="TermsOfUse" class="nav-link p-0 text-muted">Terms Of Use</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <ul class="nav flex-column">
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="ContactUs" class="nav-link p-0 text-muted">Contact Us</a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="Careers" class="nav-link p-0 text-muted">Careers</a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="Privacy" class="nav-link p-0 text-muted">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <ul class="nav flex-column">
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="Blogs" class="nav-link p-0 text-muted">Blogs</a>
                    </li>
                    <li class="nav-item mb-3">
                        <a asp-controller="Home" asp-action="FAQs" class="nav-link p-0 text-muted">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of whats new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <input id="inputEmail" type="email" placeholder="Email address" class="form-control" />
                        <button type="submit" class="btn">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-1 my-1 border-top">
            <p>&copy; 2023 Parkview Hotels, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <a class="link-body-emphasis" href="https://www.linkedin.com/in/shibom-bhowmik-9709081b8/">
                        <i style="color:black;" class="bi bi-twitter"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="https://www.linkedin.com/in/shibom-bhowmik-9709081b8/">
                        <i style="color:black;" class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="https://www.linkedin.com/in/shibom-bhowmik-9709081b8/">
                        <i style="color:black;" class="bi bi-facebook"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>


@*-------------------------------------------------------------------SNEHA CHATBOT ---------------------------------------------------------*@
<script type="text/javascript">
    (function (d, t) {
        var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
        v.onload = function () {
            window.voiceflow.chat.load({
                verify: { projectID: '64f463586babf2000798beac' },
                url: 'https://general-runtime.voiceflow.com',
                versionID: 'production'
            });
        }
        v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
    })(document, 'script');
</script>
